<% layout('layouts/boilerplate') %>
<figure class="text-center">
    <blockquote class="blockquote">
      
      <p>Welcome to MasterMart</p>
    </blockquote>
    <figcaption class="blockquote-footer">
    Register <cite title="Source Title"><a href="/register"> here</a>.</cite>
    </figcaption>
    <figcaption class="blockquote-footer">
       Login <cite title="Source Title"><a href="/login"> here</a>.</cite>
        </figcaption>
  </figure>
